

body {
    background-color: lightsteelblue;
}

header.head {
    text-align: center;
    font-family: Florance, cursive;
    font-size: 20px;
    background-color: dodgerblue;
}

nav.navigation {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

article.content {
    font-family: Verdana, Geneva sans-serif;


}