

body {
    background-color: lightsteelblue;
}

header.head {
    text-align: center;
    font-family: Florance, cursive;
    font-size: 20px;
}

nav.navigation {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

body.text