

body {
    background-color: #EBF5FB;
}

header {
    background-color: #AED6F1;
    font-family: Copperplate, Papyrus, fantasy;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

nav {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #D6EAF8;
    padding: 10px;
}

article {
    font-family: Verdana, Geneva sans-serif;

}